/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*-----Nav Bar------------------*/

a {
    text-decoration: none;
    color: gray;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    margin: 20px 40px;
    padding: 20px;
    widows: 100%;
}

/*-----------header area*----------------*/

.title {
    font-size: 60px;
}

button {
    font-size: 13px;
    padding: 3px 20px;
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: center;
    padding: 45px 200px 40px 0px;
}

.header-piece1 {
    padding: 0px 90px 0px 10px;
    margin: 50px 0px 0px 60px;
}

header img {
    margin:
    padding: 0px 0px 0px 100px;
    width: ;
}

/* ------top section------------*/

.top-section {
    display: flex;
    border-top: 1px solid black;
    width: 75%;
    margin: 0px 50px;

}

.features {
    padding: 20px 20px;
    margin: 0px;
}

.about {
    padding: 20px;
}

/*middle image*/

.middle-img {
    margin: 50px;
    width: 80%;
}

/*bottom section*/

.bottom-section {
    display: flex;
    width: 85%;
    height: ;
    margin: 0px 25px;
    padding: 20px 40px;
    border-bottom: 1px solid black;
}

.services {
    margin: 10px;
}

.product {
    margin: 10px;
}

.vision {
    margin: 10px;
}

/*address area*/

address {
    margin: 20px 40px;
}

footer {
    margin: 20px 40% 80px;
    width: 200px;
    display: ;
}

/*Tablet View*/

@media(max-width: 800px) {
    .top-section {
        display: flex;
        border-top: 2px solid black;
        width: 100%;
        margin: 0;
    }
    .middle-img {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .bottom-section {
        display: flex;
        width: 100%;
        margin: 0px 25px;
        padding: border-bottom: 2px solid black;
    }
    footer {
        margin: 0% 5%;
        width: 100%;
    }
}

/*MOBILE View*/

@media(max-width: 500px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    a {
        /* order:1; */
        border-bottom: 1px solid lightgray;
    }
    nav {}
    nav a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0% 30%;
        order: -1;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 20%;
    }
    .header-piece1 {
        padding: 0px 90px 0px 10px;
        margin: 50px 0px 0px 60px;
    }
    header img {
        display: none;
        margin: 0px -100px 0px 50px;
    }
    .top-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid black;
        width: 100%;
        margin: 0% 40px;
    }
    .middle-img {
        width: 95%;
        display: flex;
        flex-direction: wrap;
        align-items: stretch;
    }
    .bottom-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: border-bottom: 2px solid black;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        margin: 0% 40px;
        width: 100%;
    }
}